name: Android CI

on:
  push:
    branches: [ "master", "ci" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Decode Keystore
        run: echo $ENCODED_STRING | base64 -di > ./keystore.jks
        env:
          ENCODED_STRING: ${{ secrets.KEY_STORE_BASE64 }}

      - run: chmod +x ./gradlew && ./gradlew assembleRelease --no-daemon
        env:
          SIGNING_STORE_FILE: ./keystore.jks
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}

      - uses: actions/upload-artifact@v4
        with:
          name: release
          path: ./app/build/outputs/apk/release/*.apk
