name: Android CI

on:
  push:
    branches: [ "master", "ci" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: 'gradle'
    - run: chmod +x ./gradlew
    - run: ./gradlew assembleRelease
    - name: Debug file structure
      run: find .
    - uses: actions/upload-artifact@v4
      with:
        name: apk
        path: ./app/build/outputs/apk/release/app-release.apk
